@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@font-face {
  font-family: "BebasNeueBook";
  src: local("BebasNeueBook"),
    url("./fonts/BebasNeueBook.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100vw;
  background-color: #2b2a30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timerWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 50px 5px rgba(101, 101, 101, 0.5),
    0px 5px 20px 10px rgba(0, 0, 0, 1),
    inset 0px 0px 100px 10px rgba(0, 0, 0, 0.5);
}
.timer {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  justify-self: center;
  z-index: 1;
}
.timerContent {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  padding-top: 300px;
}
.timerClock {
  font-family: "BebasNeueBook";
  /* font-family: "Bebas Neue", sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-size: 170px;
  font-weight: 100;
  padding-bottom: 50px;
}
.timerButton {
  height: auto;
  width: auto;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  color: whitesmoke;
  visibility: visible;
  font-family: "Montserrat";
}
.timerButton:hover,
.timerButton:focus,
.timerConfigMod:hover,
.timerConfigMod:focus,
.timerConfig:hover,
.timerConfig:focus {
  cursor: pointer;
}
.timerButtonHidden {
  width: auto;
  visibility: hidden;
}
.timerConfigWrapper {
  width: 200px;
  height: 45px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.timerConfigMod {
  height: 30px;
  width: auto;
  visibility: visible;
  filter: invert(32%) sepia(1%) saturate(15%) hue-rotate(314deg) brightness(89%)
    contrast(97%) drop-shadow(0px 3px 2px rgb(0 0 0 / 0.5));
}
.timerConfigModHidden {
  height: 30px;
  width: auto;
  visibility: hidden;
}
.timerConfig {
  height: 30px;
  filter: invert(45%) sepia(94%) saturate(4%) hue-rotate(354deg) brightness(94%)
    contrast(93%) drop-shadow(0px 3px 2px rgb(0 0 0 / 0.6));
}
